@model RestWebAppService.ViewModels.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prijmeni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prijmeni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jmeno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jmeno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D_Narozeni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_Narozeni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vyska)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vyska)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
